<%= form_for @employee, html: {class: "form-horizontal"} do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="action-glyphs">
    <%= f.submit "Save", class: "save btn btn-primary" %>
    <%= link_to "Cancel", employees_path, class:"btn btn-danger" %>
  </div>
  <div>
    <ul class="nav nav-tabs" style="background-color:rgba(255,255,255,0);color:rgb(255,255,255);">
      <li class="active"><a href="#employee-tab-1" role="tab" data-toggle="tab">Details </a></li>
      <li><a href="#employee-tab-2" role="tab" data-toggle="tab">Contact </a></li>
      <li><a href="#employee-tab-3" role="tab" data-toggle="tab">Financials</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" role="tabpanel" id="employee-tab-1">
        <div class="form-group" style="padding-top:10px;">
          <%= f.label :first_name, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_field :first_name, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :middle_name, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_field :middle_name, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :surname, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_field :surname, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :known_as, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_field :known_as, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :full_name, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_field :full_name, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :birth_date, class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <%= f.text_field :birth_date, hide_label: true, class: 'form-control' %>
          </div>
          <%= f.label :dob_display, class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <%= f.select(:dob_display, options_for_select([['Yes', true], ['No', false]], @employee.dob_display), {}, {class: 'form-control'}) %>
          </div>
        </div>
      </div>
      <div class="tab-pane" role="tabpanel" id="employee-tab-2">
        <div class="form-group" style="padding-top:10px;">
          <%= f.label :address, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_field :address, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :city, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_field :city, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :state, class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <%= f.select(:state, options_from_collection_for_select(AdminKeyword.where(key_type: "State"), "key_value", "key_value", @employee.state), {}, {class: 'form-control'}) %>
          </div>
          <%= f.label :postcode, class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <%= f.text_field :postcode, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :home_phone, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_field :home_phone, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :work_phone, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_field :work_phone, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :mobile_phone, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_field :mobile_phone, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :email, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_field :email, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="tab-pane" role="tabpanel" id="employee-tab-3">
        <div class="form-group" style="padding-top:10px;">
          <%= f.label :superannuation_fund, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_field :superannuation_fund, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :superannuation_no, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_field :superannuation_no, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :tax_file_number, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_field :tax_file_number, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :abn, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_field :abn, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :gst_registered, class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <%= f.select(:gst_registered, options_for_select([['Yes', true], ['No', false]], @employee.gst_registered), {}, {class: 'form-control'}) %>
          </div>
        </div>
                    <!--<div class="form-group">-->
                        <!--<label class="control-label col-sm-2">Current YTD Earnings:</label>-->
                        <!--<div class="col-sm-10">{{ person.current_yearly_earnings }}</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label class="control-label col-sm-2">Current YTD Payments:</label>-->
                        <!--<div class="col-sm-10">{{ person.current_yearly_payments }}</div>-->
                    <!--</div>-->
      </div>
    </div>
  </div>

<% end %>
