<h1 class="page-header">Talent</h1>
<span><%= link_to "New", new_employee_path, class: "btn btn-primary" %></span>
<div class="table-responsive">
    <table class="table table-striped" id="client-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Home Phone</th>
                <th>Mobile Phone</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @employees.each do |employee| %>
                <tr>
                    <td><%= link_to employee.display_name, employee %></td>
                    <td><%= employee.display_address %></td>
                    <td><%= employee.home_phone %></td>
                    <td><%= employee.mobile_phone %></td>
                    <td><%= employee.email %></td>
                    <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-xs btn-danger' %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
<div class="modal fade" id="modal-client">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
