<div class='action-glyphs'>
  <span><%= link_to "Edit", edit_employee_path(@employee), class: "btn btn-primary" %></span>
  <span><%= link_to "Cancel", employees_path, class:"btn btn-danger" %></span>
</div>
<p id="notice"><%= notice %></p>
<div>
  <ul class="nav nav-tabs" style="background-color:rgba(255,255,255,0);color:rgb(255,255,255);">
    <li class="active"><a href="#employee-tab-1" role="tab" data-toggle="tab">Details </a></li>
    <li><a href="#employee-tab-2" role="tab" data-toggle="tab">Contact </a></li>
    <li><a href="#employee-tab-3" role="tab" data-toggle="tab">Financials</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" role="tabpanel" id="employee-tab-1">
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>First Name:</strong></div>
        <div class="col-sm-10"><%= @employee.first_name %></div>
      </div>
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>Middle Name:</strong></div>
        <div class="col-sm-10"><%= @employee.middle_name %></div>
      </div>
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>Surname:</strong></div>
        <div class="col-sm-10"><%= @employee.surname %></div>
      </div>
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>Known As:</strong></div>
        <div class="col-sm-10"><%= @employee.known_as %></div>
      </div>
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>Full Name:</strong></div>
        <div class="col-sm-10"><%= @employee.full_name %></div>
      </div>
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>Birth Date:</strong></div>
        <div class="col-sm-10"><%= @employee.birth_date.to_formatted_s(:rfc822) %></div>
      </div>
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>Display DOB?</strong></div>
        <div class="col-sm-10"><%= yesno_boolean(@employee.dob_display) %></div>
      </div>
    </div>
    <div class="tab-pane" role="tabpanel" id="employee-tab-2">
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>Address:</strong></div>
        <div class="col-sm-10"><%= @employee.address %></div>
      </div>
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>City/Suburb:</strong></div>
        <div class="col-sm-10"><%= @employee.city %></div>
      </div>
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>State:</strong></div>
        <div class="col-sm-2"><%= @employee.state %></div>
        <div class="col-sm-2"><strong>Postcode:</strong></div>
        <div class="col-sm-2"><%= @employee.postcode %></div>
      </div>
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>Home Phone:</strong></div>
        <div class="col-sm-10"><%= @employee.home_phone %></div>
      </div>
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>Work Phone:</strong></div>
        <div class="col-sm-10"><%= @employee.work_phone %></div>
      </div>
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>Mobile Phone:</strong></div>
        <div class="col-sm-10"><%= @employee.mobile_phone %></div>
      </div>
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>Email:</strong></div>
        <div class="col-sm-10"><%= @employee.email %></div>
      </div>
    </div>
    <div class="tab-pane" role="tabpanel" id="employee-tab-3">
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>Superannuation Fund:</strong></div>
        <div class="col-sm-10"><%= @employee.superannuation_fund %></div>
      </div>
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>Superannuation No:</strong></div>
        <div class="col-sm-10"><%= @employee.superannuation_no %></div>
      </div>
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>Tax File Number:</strong></div>
        <div class="col-sm-10"><%= @employee.tax_file_number %></div>
      </div>
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>ABN:</strong></div>
        <div class="col-sm-10"><%= @employee.abn %></div>
      </div>
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>GST Registered?</strong></div>
        <div class="col-sm-10"><%= yesno_boolean(@employee.gst_registered) %></div>
      </div>
                  <!--<div class="row row-buffer">-->
                      <!--<label class="control-label col-sm-2">Current YTD Earnings:</label>-->
                      <!--<div class="col-sm-10">{{ person.current_yearly_earnings }}</div>-->
                  <!--</div>-->
                  <!--<div class="row row-buffer">-->
                      <!--<label class="control-label col-sm-2">Current YTD Payments:</label>-->
                      <!--<div class="col-sm-10">{{ person.current_yearly_payments }}</div>-->
                  <!--</div>-->
    </div>
  </div>
