<%= form_for @keyword, html: {class: "form-horizontal"} do |f| %>
    <% if @keyword.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@keyword.errors.count, "error") %> prohibited this keyword from being saved:</h2>
            <ul>
                <% @keyword.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="action-glyphs">
        <%= f.submit "Save", class: "save btn btn-primary" %>
        <%= link_to "Cancel", admin_keywords_path, class:"btn btn-danger" %>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Keyword</h3></div>
            <div class="panel-body">
                <div class="form-group">
                    <%= f.label :type, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-10">
                        <%= f.text_field :key_type, class: 'form-control' %>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.label :subtype, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-10">
                        <%= f.text_field :key_subtype, class: 'form-control' %>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.label :value, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-10">
                        <%= f.text_field :key_value, class: 'form-control' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>
