<h1 class="page-header">Administration - Keywords</h1>
<span><%= link_to "New", new_admin_keyword_path, class: "btn btn-primary" %></span>
<div class="table-responsive">
    <table class="table table-striped" id="keyword-table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Subtype</th>
                <th>Value</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @keywords.order(key_type: :asc, key_subtype: :asc, key_value: :asc).each do |keyword| %>
                <tr>
                    <td><%= link_to keyword.key_type, keyword %></td>
                    <td><%= keyword.key_subtype %></td>
                    <td><%= keyword.key_value %></td>
                    <td><%= link_to 'Destroy', keyword, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-xs btn-danger' %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
<!--<div class="modal fade" id="modal-client">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
