<div class='action-glyphs'>
  <span><%= link_to "Edit", edit_admin_keyword_path(@keyword), class: "btn btn-primary" %></span>
  <span><%= link_to "Cancel", admin_keywords_path, class:"btn btn-danger" %></span>
</div>
<p id="notice"><%= notice %></p>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Keyword</h3>
  </div>
  <div class="panel-body">
    <div class="row row-buffer">
      <div class="col-sm-2"><strong>Type:</strong></div>
      <div class="col-sm-10"><%= @keyword.key_type %></div>
    </div>
    <div class="row row-buffer">
      <div class="col-sm-2"><strong>Subtype:</strong></div>
      <div class="col-sm-10"><%= @keyword.key_subtype %></div>
    </div>
    <div class="row row-buffer">
      <div class="col-sm-2"><strong>Value:</strong></div>
      <div class="col-sm-10"><%= @keyword.key_value %></div>
    </div>
  </div>
</div>
