<div class="col-sm-3">
  <%= f.select(:employee_id, options_from_collection_for_select(@employees, "id", "display_name", ""), {include_blank: true}, {class: 'form-control'}) %>
</div>
<div class="col-sm-1">
  <%= f.text_field :gross_total, class: 'form-control' %>
</div>
<div class="col-sm-1">
  <%= f.text_field :employee_total, class: 'form-control' %>
</div>
<div class="col-sm-1">
  <%= f.text_field :taxable_amount, class: 'form-control' %>
</div>
<div class="col-sm-1">
  <%= f.text_field :commission, class: 'form-control' %>
</div>
<div class="col-sm-1">
  <%= f.text_field :gst_employee, class: 'form-control' %>
</div>
<div class="col-sm-1">
  <%= f.text_field :super, class: 'form-control' %>
</div>
<div class="col-sm-1">
  <%= f.text_field :tax, class: 'form-control' %>
</div>
<div class="col-sm-1" style="padding-bottom:10px;">
  <%= f.text_field :commission_gst, class: 'form-control' %>
</div>
<div class="col-sm-1">
  <%= link_to_remove_association 'Remove', f, class: 'btn btn-xs btn-danger' %>
</div>
