<%= form_for @invoice do |f| %>
  <% if invoice.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this invoice from being saved:</h2>

    <ul>
    <% @invoice.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="action-glyphs">
      <%= f.submit "Save", class: "save btn btn-primary" %>
      <%= link_to "Cancel", invoices_path, class:"btn btn-danger" %>
  </div>
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">Invoice Details</div>
      <div class="panel-body">
        <div class="form-group" style="padding-bottom:30px;">
          <%= f.label :invoice_ref, class: 'col-sm-2 control-label' %>
          <div class="col-sm-4">
              <%= f.text_field :invoice_ref, class: 'form-control' %>
          </div>
          <%= f.label :invoice_date, class: 'col-sm-2 control-label' %>
          <div class="col-sm-4">
            <%= f.text_field :invoice_date, hide_label: true, class: 'form-control', data:{ provide:'datepicker', date_format: 'dd/mm/yyyy' } %>
          </div>
        </div>
        <div class="form-group" style="padding-bottom:30px;">
          <%= f.label :booking_id, "Booking", class: 'col-sm-2 control-label' %>
          <div class="col-sm-4">
              <%= f.select(:booking_id, options_from_collection_for_select(@bookings, "id", "booking_ref", @invoice.booking_id), {}, {class: 'form-control'}) %>
          </div>
          <%= f.label "Client", class: 'col-sm-2 control-label' %>
          <div class="col-sm-4">
              <div class='form-control-static' id='dspClientName'>
          </div>
        </div>
        <div class="form-group" style="padding-bottom:30px;">
          <%= f.label "Booking date", class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <div class='form-control-static' id='dspBookingDate'>
          </div>
          <%= f.label "Details", class: 'col-sm-2 control-label' %>
          <div class="col-sm-6">
            <div class='form-control-static' id='dspDescription'>
          </div>
        </div>
        <div class="form-group" style="padding-bottom:30px;">
          <%= f.label :invoice_currency, class: 'col-sm-2 control-label' %>
          <div class="col-sm-3">
            <%= f.select(:invoice_currency, options_from_collection_for_select(AdminKeyword.where(key_type: "Currency"), "key_value", "key_value", @invoice.invoice_currency), {}, {class: 'form-control'}) %>
          </div>
          <%= f.label :invoice_total, "Details", class: 'col-sm-2 control-label' %>
          <div class="col-sm-3">
            <%= f.text_field :invoice_total, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group" style="padding-bottom:30px;">
          <%= f.label :super_total, class: 'col-sm-2 control-label' %>
          <div class="col-sm-3">
            <%= f.text_field :super_total, class: 'form-control' %>
          </div>
          <%= f.label :service_fee, "Details", class: 'col-sm-2 control-label' %>
          <div class="col-sm-3">
            <%= f.text_field :service_fee, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group" style="padding-bottom:30px;">
          <%= f.label :gst_included, class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <%= f.select(:gst_included, options_for_select([['Yes', true], ['No', false]], @invoice.gst_included), {}, {class: 'form-control'}) %>
          </div>
          <%= f.label :gst_invoice, class: 'col-sm-2 control-label' %>
          <div class="col-sm-3">
            <%= f.text_field :gst_invoice, class: 'form-control' %>
          </div>
          <%= f.label :gst_service_fee, class: 'col-sm-2 control-label' %>
          <div class="col-sm-3">
            <%= f.text_field :gst_service_fee, class: 'form-control' %>
          </div>
        </div>
        <!-- <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-sm-2">Name</div>
            <div class="col-sm-2">Start</div>
            <div class="col-sm-2">End</div>
            <div class="col-sm-1">Duration</div>
            <div class="col-sm-4">Notes</div>
            <div class="col-sm-1"><%= link_to_add_association 'Add Details', f, :booking_details, partial: 'bookings/detail_fields', class: 'btn btn-sm btn-primary', data: { association_insertion_method: :append,  association_insertion_node: '#detail_body'} %></div>
            <hr />
            <div id="detail_body">
            <%= f.fields_for :booking_details do |dtl| %>
              <%= render 'detail_fields', :f => dtl %>
            <% end %>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="field">
    <%= form.label :invoice_ref %>
    <%= form.text_field :invoice_ref, id: :invoice_invoice_ref %>
  </div>

  <div class="field">
    <%= form.label :invoice_date %>
    <%= form.date_select :invoice_date, id: :invoice_invoice_date %>
  </div>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.text_field :client_id, id: :invoice_client_id %>
  </div>

  <div class="field">
    <%= form.label :booking_id %>
    <%= form.text_field :booking_id, id: :invoice_booking_id %>
  </div>

  <div class="field">
    <%= form.label :super_total %>
    <%= form.text_field :super_total, id: :invoice_super_total %>
  </div>

  <div class="field">
    <%= form.label :service_fee %>
    <%= form.text_field :service_fee, id: :invoice_service_fee %>
  </div>

  <div class="field">
    <%= form.label :gst_included %>
    <%= form.check_box :gst_included, id: :invoice_gst_included %>
  </div>

  <div class="field">
    <%= form.label :gst_service_fee %>
    <%= form.text_field :gst_service_fee, id: :invoice_gst_service_fee %>
  </div>

  <div class="field">
    <%= form.label :gst_invoice %>
    <%= form.text_field :gst_invoice, id: :invoice_gst_invoice %>
  </div>

  <div class="field">
    <%= form.label :invoice_currency %>
    <%= form.text_field :invoice_currency, id: :invoice_invoice_currency %>
  </div>

  <div class="field">
    <%= form.label :invoice_total %>
    <%= form.text_field :invoice_total, id: :invoice_invoice_total %>
  </div>

  <div class="field">
    <%= form.label :print_flag %>
    <%= form.check_box :print_flag, id: :invoice_print_flag %>
  </div>

  <div class="field">
    <%= form.label :paid_flag %>
    <%= form.check_box :paid_flag, id: :invoice_paid_flag %>
  </div>

  <div class="field">
    <%= form.label :current_gross %>
    <%= form.text_field :current_gross, id: :invoice_current_gross %>
  </div>

  <div class="field">
    <%= form.label :current_gst %>
    <%= form.text_field :current_gst, id: :invoice_current_gst %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
