<%= form_for @invoice do |f| %>
  <% if invoice.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

    <ul>
    <% @invoice.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="action-glyphs">
      <%= f.submit "Save", class: "save btn btn-primary" %>
      <%= link_to "Cancel", invoices_path, class:"btn btn-danger" %>
  </div>
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">Invoice Details</div>
      <div class="panel-body">
        <div class="form-group" style="padding-bottom:30px;">
          <%= f.label :invoice_ref, class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
              <%= f.text_field :invoice_ref, class: 'form-control' %>
          </div>
          <%= f.label :invoice_date, class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <%= f.text_field :invoice_date, hide_label: true, class: 'form-control', data:{ provide:'datepicker', date_format: 'dd/mm/yyyy' } %>
          </div>
        </div>
        <div class="form-group" style="padding-bottom:30px;">
          <%= f.label :booking_id, "Booking", class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
              <%= f.select(:booking_id, options_from_collection_for_select(@bookings, "id", "booking_ref", @invoice.booking_id), {include_blank: true}, {class: 'form-control'}) %>
          </div>
          <%= f.label "Client", class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
              <div class='form-control-static' id='dspClientName'></div>
          </div>
        </div>
        <div class="form-group" style="padding-bottom:30px;">
          <%= f.label "Booking date", class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <div class='form-control-static' id='dspBookingDate'></div>
          </div>
          <%= f.label "Details", class: 'col-sm-2 control-label' %>
          <div class="col-sm-4">
            <div class='form-control-static' id='dspDescription'></div>
          </div>
        </div>
        <div class="form-group" style="padding-bottom:30px;">
          <%= f.label :invoice_currency, class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <%= f.select(:invoice_currency, options_from_collection_for_select(AdminKeyword.where(key_type: "Currency"), "key_value", "key_value", @invoice.invoice_currency), {}, {class: 'form-control'}) %>
          </div>
          <%= f.label :invoice_total, class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <%= f.text_field :invoice_total, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group" style="padding-bottom:30px;">
          <%= f.label :super_total, class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <%= f.text_field :super_total, class: 'form-control' %>
          </div>
          <%= f.label :service_fee, class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <%= f.text_field :service_fee, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group" style="padding-bottom:30px;">
          <%= f.label :gst_included, class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <%= f.select(:gst_included, options_for_select([['Yes', true], ['No', false]], @invoice.gst_included), {}, {class: 'form-control'}) %>
          </div>
        </div>
        <div class="form-group" style="padding-bottom:30px;">
          <%= f.label :gst_invoice, class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <%= f.text_field :gst_invoice, class: 'form-control' %>
          </div>
          <%= f.label :gst_service_fee, class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <%= f.text_field :gst_service_fee, class: 'form-control' %>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-sm-3">Employee</div>
            <div class="col-sm-1">Gross Amt</div>
            <div class="col-sm-1">Employee Amt</div>
            <div class="col-sm-1">Taxable Amt</div>
            <div class="col-sm-1">Commission</div>
            <div class="col-sm-1">GST Amt</div>
            <div class="col-sm-1">Superannuation</div>
            <div class="col-sm-1">PAYE Amt</div>
            <div class="col-sm-1">GST Commission</div>
            <div class="col-sm-1"><%= link_to_add_association 'Add Details', f, :invoice_details, partial: 'invoices/detail_fields', class: 'btn btn-sm btn-primary', data: { association_insertion_method: :append,  association_insertion_node: '#detail_body'} %></div>
            <hr />
            <div id="detail_body">
              <%= f.fields_for :invoice_details do |dtl| %>
                <%= render 'detail_fields', :f => dtl %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
