<h1 class="page-header">Invoices</h1>
<span><%= link_to "New", new_invoice_path, class: "btn btn-primary" %></span>
<div class="table-responsive">
    <table class="table table-striped" id="invoice-table">
        <thead>
            <tr>
                <th>Invoice #</th>
                <th>Date</th>
                <th>Client</th>
                <th>Booking #</th>
                <th>Invoice Total</th>
                <th>Paid</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @invoices.each do |invoice| %>
                <tr>
                    <td><%= link_to invoice.invoice_ref, invoice %></td>
                    <td><%= invoice.invoice_date.to_formatted_s(:rfc822) %></td>
                    <td><%= invoice.booking_id.client_name %></td>
                    <td><%= invoice.booking_id.booking_ref %></td>
                    <td><%= invoice.invoice_total %></td>
                    <td><%= invoice.paid_flag %></td>
                    <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-xs btn-danger' %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
<div class="modal fade" id="modal-invoice">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
