<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice ref:</strong>
  <%= @invoice.invoice_ref %>
</p>

<p>
  <strong>Invoice date:</strong>
  <%= @invoice.invoice_date %>
</p>

<p>
  <strong>Client:</strong>
  <%= @invoice.client %>
</p>

<p>
  <strong>Booking:</strong>
  <%= @invoice.booking %>
</p>

<p>
  <strong>Super total:</strong>
  <%= @invoice.super_total %>
</p>

<p>
  <strong>Service fee:</strong>
  <%= @invoice.service_fee %>
</p>

<p>
  <strong>Gst included:</strong>
  <%= @invoice.gst_included %>
</p>

<p>
  <strong>Gst service fee:</strong>
  <%= @invoice.gst_service_fee %>
</p>

<p>
  <strong>Gst invoice:</strong>
  <%= @invoice.gst_invoice %>
</p>

<p>
  <strong>Invoice currency:</strong>
  <%= @invoice.invoice_currency %>
</p>

<p>
  <strong>Invoice total:</strong>
  <%= @invoice.invoice_total %>
</p>

<p>
  <strong>Print flag:</strong>
  <%= @invoice.print_flag %>
</p>

<p>
  <strong>Paid flag:</strong>
  <%= @invoice.paid_flag %>
</p>

<p>
  <strong>Current gross:</strong>
  <%= @invoice.current_gross %>
</p>

<p>
  <strong>Current gst:</strong>
  <%= @invoice.current_gst %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
