<div class="col-sm-2">
  <%= f.select(:employee_id, options_from_collection_for_select(@employees, "id", "display_name", ""), {}, {class: 'form-control'}) %>
</div>
<div class="col-sm-2">
  <%= f.text_field :start_date, class: 'form-control', data:{ provide:'datepicker', date_format: 'dd/mm/yyyy' } %>
</div>
<div class="col-sm-2">
  <%= f.text_field :end_date, class: 'form-control', data:{ provide:'datepicker', date_format: 'dd/mm/yyyy' } %>
</div>
<div class="col-sm-1">
  <%= f.text_field :duration, class: 'form-control' %>
</div>
<div class="col-sm-4" style="padding-bottom:10px;">
  <%= f.text_field :notes, class: 'form-control' %>
</div>
<div class="col-sm-1">
  <%= link_to_remove_association 'Remove', f, class: 'btn btn-xs btn-danger' %>
</div>

