<%= form_for @booking do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="action-glyphs">
      <%= f.submit "Save", class: "save btn btn-primary" %>
      <%= link_to "Cancel", bookings_path, class:"btn btn-danger" %>
  </div>
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">Booking Details</div>
      <div class="panel-body">
        <div class="form-group" style="padding-bottom:30px;">
          <%= f.label :client_id, "Client", class: 'col-sm-2 control-label' %>
          <div class="col-sm-4">
              <%= f.select(:client_id, options_from_collection_for_select(@clients, "id", "client_name", @booking.client_id), {}, {class: 'form-control'}) %>
          </div>
          <%= f.label :booking_ref, class: 'col-sm-2 control-label' %>
          <div class="col-sm-4">
              <%= f.text_field :booking_ref, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group" style="padding-bottom:30px;">
          <%= f.label :start_date, class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <%= f.text_field :start_date, hide_label: true, class: 'form-control', data:{ provide:'datepicker', date_format: 'dd/mm/yyyy' } %>
          </div>
          <%= f.label :end_date, class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <%= f.text_field :end_date, hide_label: true, class: 'form-control', data:{ provide:'datepicker', date_format: 'dd/mm/yyyy' } %>
          </div>
          <%= f.label :duration, class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <%= f.text_field :duration, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group" style="padding-bottom:30px;">
          <%= f.label :description, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_field :description, class: 'form-control' %>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-sm-2">Name</div>
            <div class="col-sm-2">Start</div>
            <div class="col-sm-2">End</div>
            <div class="col-sm-1">Duration</div>
            <div class="col-sm-4">Notes</div>
            <div class="col-sm-1"><%= link_to_add_association 'Add Details', f, :booking_details, partial: 'bookings/detail_fields', class: 'btn btn-sm btn-primary', data: { association_insertion_method: :append,  association_insertion_node: '#detail_body'} %></div>
            <hr />
            <div id="detail_body">
              <%= f.fields_for :booking_details do |dtl| %>
                <%= render 'detail_fields', :f => dtl %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
