<h1 class="page-header">Bookings</h1>
<span><%= link_to "New", new_booking_path, class: "btn btn-primary" %></span>
<div class="table-responsive">
    <table class="table table-striped" id="booking-table">
        <thead>
            <tr>
                <th>Ref #</th>
                <th>Client</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @bookings.each do |booking| %>
                <tr>
                    <td><%= link_to booking.booking_ref, booking %></td>
                    <td><%= booking.client_name %></td>
                    <td><%= booking.start_date.to_formatted_s(:rfc822) %></td>
                    <td><%= booking.end_date.to_formatted_s(:rfc822) %></td>
                    <td><%= booking.description %></td>
                    <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-xs btn-danger' %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
<div class="modal fade" id="modal-booking">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
