<div>client_name:<%= @booking.client_name %></div>
<div>booking_ref:<%= @booking.booking_ref %></div>
<div>start_date:<%= @booking.start_date.to_formatted_s(:rfc822) %></div>
<div>end_date:<%= @booking.end_date.to_formatted_s(:rfc822) %></div>
<div>duration:<%= @booking.duration %></div>
<div>description:<%= @booking.description %></div>
<div>
        <% if @booking.booking_details.any? %>
          <% @booking.booking_details.each do |dtl| %>
            <div>details_employee_name:<%= dtl.employee_name %></div>
            <div>details_start_date:<%= dtl.start_date.to_formatted_s(:rfc822) %></div>
            <div>details_end_date<%= dtl.end_date.to_formatted_s(:rfc822) %></div>
            <div>details_duration:<%= dtl.duration %></div>
            <div>details_notes:<%= dtl.notes %></div>
          <% end %>
        <% end %>
</div>
