<div class='action-glyphs'>
  <span><%= link_to "Edit", edit_booking_path(@booking), class: "btn btn-primary" %></span>
  <span><%= link_to "Cancel", bookings_path, class:"btn btn-danger" %></span>
</div>
<p id="notice"><%= notice %></p>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Booking Details</h3>
  </div>
  <div class="panel-body">
    <div class="row row-buffer">
      <div class="col-sm-2"><strong>Client:</strong></div>
      <div class="col-sm-10"><%= @booking.client_name %></div>
    </div>
    <div class="row row-buffer">
      <div class="col-sm-2"><strong>Reference:</strong></div>
      <div class="col-sm-10"><%= @booking.booking_ref %></div>
    </div>
    <div class="row row-buffer">
      <div class="col-sm-2"><strong>Start Date:</strong></div>
      <div class="col-sm-10"><%= @booking.start_date.to_formatted_s(:rfc822) %></div>
    </div>
    <div class="row row-buffer">
      <div class="col-sm-2"><strong>End Date:</strong></div>
      <div class="col-sm-10"><%= @booking.end_date.to_formatted_s(:rfc822) %></div>
    </div>
    <div class="row row-buffer">
      <div class="col-sm-2"><strong>Duration:</strong></div>
      <div class="col-sm-10"><%= @booking.duration %></div>
    </div>
    <div class="row row-buffer">
      <div class="col-sm-2"><strong>Description:</strong></div>
      <div class="col-sm-10"><%= @booking.description %></div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-sm-2"><strong>Name</strong></div>
        <div class="col-sm-2"><strong>Start</strong></div>
        <div class="col-sm-2"><strong>End</strong></div>
        <div class="col-sm-1"><strong>Duration</strong></div>
        <div class="col-sm-5"><strong>Notes</strong></div>
        <hr />
        <% if @booking.booking_details.any? %>
          <% @booking.booking_details.each do |dtl| %>
            <div class="col-sm-2"><%= dtl.employee_name %></div>
            <div class="col-sm-2"><%= dtl.start_date.to_formatted_s(:rfc822) %></div>
            <div class="col-sm-2"><%= dtl.end_date.to_formatted_s(:rfc822) %></div>
            <div class="col-sm-1"><%= dtl.duration %></div>
            <div class="col-sm-5"><%= dtl.notes %></div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
