<%= form_for @client, html: {class: "form-horizontal"} do |f| %>
    <% if @client.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>
            <ul>
                <% @client.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="action-glyphs">
        <%= f.submit "Save", class: "save btn btn-primary" %>
        <%= link_to "Cancel", clients_path, class:"btn btn-danger" %>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Client Details</h3></div>
            <div class="panel-body">
                <div class="form-group">
                    <%= f.label :client_name, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-10">
                        <%= f.text_field :client_name, class: 'form-control' %>
                    </div>
                </div>
                <fieldset>
                    <legend style="font-size:16px;color:#337ab7;">Street Address</legend>
                    <div class="form-group">
                        <%= f.label :street_address, class: 'col-sm-2 control-label' %>
                        <div class="col-sm-10">
                            <%= f.text_field :street_address, class: 'form-control' %>
                        </div>
                    </div>
                    <div class="form-group">
                        <%= f.label :street_city, class: 'col-sm-2 control-label' %>
                        <div class="col-sm-10">
                            <%= f.text_field :street_city, class: 'form-control' %>
                        </div>
                    </div>
                    <div class="form-group">
                        <%= f.label :street_state, class: 'col-sm-2 control-label' %>
                        <div class="col-sm-2">
                            <%= f.select(:street_state, options_from_collection_for_select(AdminKeyword.where(key_type: "State"), "key_value", "key_value", @client.street_state), {}, {class: 'form-control'}) %>
                        </div>
                        <%= f.label :street_postcode, class: 'col-sm-2 control-label' %>
                        <div class="col-sm-2">
                            <%= f.text_field :street_postcode, class: 'form-control' %>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend style="font-size:16px;color:#337ab7;">Postal Address</legend>
                    <div class="form-group">
                        <%= f.label :postal_address, class: 'col-sm-2 control-label' %>
                        <div class="col-sm-10">
                            <%= f.text_field :postal_address, class: 'form-control' %>
                        </div>
                    </div>
                    <div class="form-group">
                        <%= f.label :postal_city, class: 'col-sm-2 control-label' %>
                        <div class="col-sm-10">
                            <%= f.text_field :postal_city, class: 'form-control' %>
                        </div>
                    </div>
                    <div class="form-group">
                        <%= f.label :postal_state, class: 'col-sm-2 control-label' %>
                        <div class="col-sm-2">
                            <%= f.select(:postal_state, options_from_collection_for_select(AdminKeyword.where(key_type: "State"), "key_value", "key_value", @client.postal_state), {}, {class: 'form-control'}) %>
                        </div>
                        <%= f.label :postal_postcode, class: 'col-sm-2 control-label' %>
                        <div class="col-sm-2">
                            <%= f.text_field :postal_postcode, class: 'form-control' %>
                        </div>
                    </div>
                </fieldset>
                <hr />
                <div class="form-group">
                    <%= f.label :contact_name, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-10">
                        <%= f.text_field :contact_name, class: 'form-control' %>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.label :contact_phone, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-10">
                        <%= f.text_field :contact_phone, class: 'form-control' %>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.label :contact_fax, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-10">
                        <%= f.text_field :contact_fax, class: 'form-control' %>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.label :contact_email, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-10">
                        <%= f.text_field :contact_email, class: 'form-control' %>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.label :client_tax, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-2">
                        <%= f.select(:client_tax, options_for_select([['Yes', true], ['No', false]], @client.client_tax), {}, {class: 'form-control'}) %>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.label :client_super, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-2">
                       <%= f.select(:client_super, options_for_select([['Yes', true], ['No', false]], @client.client_super), {}, {class: 'form-control'}) %>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.label :client_abn, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-10">
                        <%= f.text_field :client_abn, class: 'form-control' %>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.label :client_terms, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-10">
                        <%= f.text_field :client_terms, class: 'form-control' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>
