<h1 class="page-header">Clients</h1>
<span><%= link_to "New", new_client_path, class: "btn btn-primary" %></span>
<div class="table-responsive">
    <table class="table table-striped" id="client-table">
        <thead>
            <tr>
                <th>Client Name</th>
                <th>Address</th>
                <th>Contact Name</th>
                <th>Phone</th>
                <th>Fax</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @clients.each do |client| %>
                <tr>
                    <td><%= link_to client.client_name, client %></td>
                    <td><%= client.display_address %></td>
                    <td><%= client.contact_name %></td>
                    <td><%= client.contact_phone %></td>
                    <td><%= client.contact_fax %></td>
                    <td><%= client.contact_email %></td>
                    <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-xs btn-danger' %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
<div class="modal fade" id="modal-client">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
