<div class='action-glyphs'>
  <span><%= link_to "Edit", edit_client_path(@client), class: "btn btn-primary" %></span>
  <span><%= link_to "Cancel", clients_path, class:"btn btn-danger" %></span>
</div>
<p id="notice"><%= notice %></p>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Client Details</h3>
  </div>
  <div class="panel-body">
    <div class="row row-buffer">
      <div class="col-sm-2"><strong>Client Name:</strong></div>
      <div class="col-sm-10"><%= @client.client_name %></div>
    </div>
    <fieldset style="border: 1px solid white;">
      <legend style="font-size:16px;color:#337ab7;">Street Address</legend>
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>Address</strong></div>
        <div class="col-sm-10"><%= @client.street_address %></div>
      </div>
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>City/Suburb</strong></div>
        <div class="col-sm-10"><%= @client.street_city %></div>
      </div>
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>State</strong></div>
        <div class="col-sm-2"><%= @client.street_state %></div>
        <div class="col-sm-2"><strong>Postcode</strong></div>
        <div class="col-sm-2"><%= @client.street_postcode %></div>
      </div>
    </fieldset>
    <fieldset>
      <legend style="font-size:16px;color:#337ab7;">Postal Address</legend>
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>Address</strong></div>
        <div class="col-sm-10"><%= @client.postal_address %></div>
      </div>
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>City/Suburb</strong></div>
        <div class="col-sm-10"><%= @client.postal_city %></div>
      </div>
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>State</strong></div>
        <div class="col-sm-2"><%= @client.postal_state %></div>
        <div class="col-sm-2"><strong>Postcode</strong></div>
        <div class="col-sm-2"><%= @client.postal_postcode %></div>
      </div>
    </fieldset>
      <hr />
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>Contact Name:</strong></div>
        <div class="col-sm-10"><%= @client.contact_name %></div>
      </div>
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>Contact Phone:</strong></div>
        <div class="col-sm-10"><%= @client.contact_phone %></div>
      </div>
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>Contact Fax:</strong></div>
        <div class="col-sm-10"><%= @client.contact_fax %></div>
      </div>
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>Contact Email:</strong></div>
        <div class="col-sm-10"><%= @client.contact_email %></div>
      </div>
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>Tax?</strong></div>
        <div class="col-sm-10"><%= yesno_boolean(@client.client_tax) %></div>
      </div>
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>Super?</strong></div>
        <div class="col-sm-10"><%= yesno_boolean(@client.client_super) %></div>
      </div>
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>ABN:</strong></div>
        <div class="col-sm-10"><%= @client.client_abn %></div>
      </div>
      <div class="row row-buffer">
        <div class="col-sm-2"><strong>Terms:</strong></div>
        <div class="col-sm-10"><%= @client.client_terms %></div>
      </div>
    </div>
  </div>
</div>
