{% extends 'tips/base.html' %}
{% load staticfiles %}

{% block content %}

<form class="form-horizontal" method="post">{% csrf_token %}
    <div class="action-glyphs">
        <a href="{% url 'booking_list' %}" class="btn btn-primary" role="button"><i class="glyphicon glyphicon-remove"></i> Cancel</a>
        <button type="submit" class="save btn btn-primary"><i class="glyphicon glyphicon-floppy-save"></i> Save</button>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Booking Details</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label col-sm-2" for="ClientName">Client:</label>
                <div class="col-sm-10">{{ form.client_id }}</div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="BookingRef">Booking Ref:</label>
                <div class="col-sm-4">{{ form.booking_ref }}</div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="StartDate">Start Date:</label>
                <div class="col-sm-4">{{ form.booking_start_date }}</div>
                <label class="control-label col-sm-2" for="EndDate">End Date:</label>
                <div class="col-sm-4">{{ form.booking_end_date }}</div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="Duration">Duration:</label>
                <div class="col-sm-4">{{ form.booking_duration }}</div>
            </div>

            {{ details_form.management_form }}
            <!--{{ details_form.non_form_errors }}-->

            {% for detail_field in details_form.fields %}
                <!--{{ details_form.as_p }}-->
                <!--{{ details_form}}-->
                <div class="detail-formset">
                    {% detail_field.person_id %}
                    {% detail_field.start_date %}
                    {% detail_field.end_date %}
                    {% detail_field.duration %}
                </div>
            {% endfor %}
        </div>
    </div>
</form>
<script src="{% static 'js/jquery-3.2.1.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<!--<script src="assets/js/script.min.js"></script>-->

{% endblock %}
