{% extends 'tips/base.html' %}
{% load staticfiles %}

{% block javascript %}
        <script src="{% static 'js/jquery-3.2.1.js' %}"></script>
{% endblock %}

{% block content %}
        <div id="person-list-page">
        <h1 class="page-header">People</h1>
        <a href="{% url 'person_new' %}"><i class="glyphicon glyphicon-plus" data-bs-hover-animate="bounce" style="width:20px;height:20px;color:#337ab7;font-size:20px;"></i></a>
        <div class="table-responsive">
        <table class="table table-striped" id="person-table">
                <thead>
                <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Home Phone</th>
                        <th>Work Phone</th>
                        <th>Mobile Phone</th>
                        <th>Email</th>
                        <th></th>
                </tr>
                </thead>
                <tbody>
        {% for person in people %}
                <tr>
                        <td><a href="{% url 'person_detail' pk=person.pk %}">{{ person.full_name }}</a></td>
                        <td>{{ person.display_address }}</td>
                        <td>{{ person.home_phone }}</td>
                        <td>{{ person.work_phone }}</td>
                        <td>{{ person.mobile_phone }}</td>
                        <td>{{ person.email }}</td>
                        <td><button type="button" class="btn btn-danger btn-sm js-delete-person" data-url="{% url 'person_delete' person.pk %}"><span class="glyphicon glyphicon-trash"></span></td>
                </tr>
        {% endfor %}
                </tbody>
        </table>
        </div>
        <div class="modal fade" id="modal-person">
                <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                </div>
        </div>
        </div>
{% endblock %}
