{% extends 'tips/base.html' %}
{% load staticfiles %}

{% block content %}

    <form class="form-horizontal" method="post" style="margin-left:2px;">{% csrf_token %}
        {{ form.errors }}
        {{ form.non_field_errors }}
        <div class="action-glyphs">
            <a href="{% url 'person_list' %}" class="btn btn-primary" role="button"><i class="glyphicon glyphicon-remove"></i> Cancel</a>
            <button type="submit" class="save btn btn-primary"><i class="glyphicon glyphicon-floppy-save"></i> Save</button>
        </div>
        <div>
            <ul class="nav nav-tabs" style="background-color:rgba(255,255,255,0);color:rgb(255,255,255);">
                <li class="active"><a href="#person-tab-1" role="tab" data-toggle="tab">Details </a></li>
                <li><a href="#person-tab-2" role="tab" data-toggle="tab">Contact </a></li>
                <li><a href="#person-tab-3" role="tab" data-toggle="tab">Financials</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" role="tabpanel" id="person-tab-1">
                    <div class="form-group" style="padding-top:10px;">
                        <label class="control-label col-sm-2">First Name:</label>
                        <div class="col-sm-10">{{ form.first_name }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Middle Name:</label>
                        <div class="col-sm-10">{{ form.middle_name }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Surname:</label>
                        <div class="col-sm-10">{{ form.surname }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Known As:</label>
                        <div class="col-sm-10">{{ form.known_as }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Full Name:</label>
                        <div class="col-sm-10">{{ form.full_name }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Date of Birth:</label>
                        <div class="col-sm-10">{{ form.birth_date }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Display DOB:</label>
                        <div class="col-sm-10">{{ form.dob_display }}</div>
                    </div>
                </div>
                <div class="tab-pane" role="tabpanel" id="person-tab-2">
                    <div class="form-group" style="padding-top:10px;">
                        <label class="control-label col-sm-2">Address:</label>
                        <div class="col-sm-10">{{ form.address }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">City/Suburb:</label>
                        <div class="col-sm-10">{{ form.city }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">State:</label>
                        <div class="col-sm-4">{{ form.state }}</div>
                        <label class="control-label col-sm-2">Postcode:</label>
                        <div class="col-sm-4">{{ form.postcode }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Home Phone:</label>
                        <div class="col-sm-10">{{ form.home_phone }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Work Phone:</label>
                        <div class="col-sm-10">{{ form.work_phone }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Mobile Phone:</label>
                        <div class="col-sm-10">{{ form.mobile_phone }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Email:</label>
                        <div class="col-sm-10">{{ form.email }}</div>
                    </div>
                </div>
                <div class="tab-pane" role="tabpanel" id="person-tab-3">
                    <div class="form-group" style="padding-top:10px;">
                        <label class="control-label col-sm-2">Superannuation Fund:</label>
                        <div class="col-sm-10">{{ form.superannuation_fund }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Superannuation No:</label>
                        <div class="col-sm-10">{{ form.superannuation_no }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Tax File No:</label>
                        <div class="col-sm-10">{{ form.tax_file_number }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">ABN:</label>
                        <div class="col-sm-10">{{ form.abn }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">GST Registered:</label>
                        <div class="col-sm-10">{{ form.gst_registered }}</div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="control-label col-sm-2">Current YTD Earnings:</label>-->
                        <!--<div class="col-sm-10">{{ person.current_yearly_earnings }}</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label class="control-label col-sm-2">Current YTD Payments:</label>-->
                        <!--<div class="col-sm-10">{{ person.current_yearly_payments }}</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </form>
    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!--<script src="assets/js/script.min.js"></script>-->

{% endblock %}
