{% extends 'tips/base.html' %}

{% block content %}

    <form class="form-horizontal" method="post" style="margin-left:2px;">
        <div class="action-glyphs" id="person-details">
            <a href="{% url 'person_list' %}" class="btn btn-primary" role="button"><i class="glyphicon glyphicon-remove"></i> Cancel</a>
            <a href="{% url 'person_edit' pk=person.pk %}" class="btn btn-primary" role="button"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
        </div>
        <div>
            <ul class="nav nav-tabs" style="background-color:rgba(255,255,255,0);color:rgb(255,255,255);">
                <li class="active"><a href="#person-tab-1" role="tab" data-toggle="tab">Details </a></li>
                <li><a href="#person-tab-2" role="tab" data-toggle="tab">Contact </a></li>
                <li><a href="#person-tab-3" role="tab" data-toggle="tab">Financials</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" role="tabpanel" id="person-tab-1">
                    <div class="form-group">
                        <label class="control-label col-sm-2">First Name:</label>
                        <div class="col-sm-10" style="padding-top: 7px;">{{ person.first_name }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Middle Name:</label>
                        <div class="col-sm-10" style="padding-top: 7px;">{{ person.middle_name }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Surname:</label>
                        <div class="col-sm-10" style="padding-top: 7px;">{{ person.surname }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Known As:</label>
                        <div class="col-sm-10" style="padding-top: 7px;">{{ person.known_as }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Full Name:</label>
                        <div class="col-sm-10" style="padding-top: 7px;">{{ person.full_name }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Date of Birth:</label>
                        <div class="col-sm-10" style="padding-top: 7px;">{{ person.birth_date }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Display DOB:</label>
                        <div class="col-sm-10" style="padding-top: 7px;">{{ person.dob_display }}</div>
                    </div>
                </div>
                <div class="tab-pane" role="tabpanel" id="person-tab-2">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Address:</label>
                        <div class="col-sm-10" style="padding-top: 7px;">{{ person.address }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">City/Suburb:</label>
                        <div class="col-sm-10" style="padding-top: 7px;">{{ person.city }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">State:</label>
                        <div class="col-sm-4" style="padding-top: 7px;">{{ person.state }}</div>
                        <label class="control-label col-sm-2">Postcode:</label>
                        <div class="col-sm-4" style="padding-top: 7px;">{{ person.postcode }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Home Phone:</label>
                        <div class="col-sm-10" style="padding-top: 7px;">{{ person.home_phone }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Work Phone:</label>
                        <div class="col-sm-10" style="padding-top: 7px;">{{ person.work_phone }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Mobile Phone:</label>
                        <div class="col-sm-10" style="padding-top: 7px;">{{ person.mobile_phone }}</div>
                    </div>
                </div>
                <div class="tab-pane" role="tabpanel" id="person-tab-3">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Superannuation Fund:</label>
                        <div class="col-sm-10" style="padding-top: 7px;">{{ person.superannuation_fund }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Superannuation No:</label>
                        <div class="col-sm-10" style="padding-top: 7px;">{{ person.superannuation_no }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Tax File No:</label>
                        <div class="col-sm-10" style="padding-top: 7px;">{{ person.tax_file_number }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">ABN:</label>
                        <div class="col-sm-10" style="padding-top: 7px;">{{ person.abn }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">GST Registered:</label>
                        <div class="col-sm-10" style="padding-top: 7px;">{{ person.gst_registered }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Current YTD Earnings:</label>
                        <div class="col-sm-10" style="padding-top: 7px;">{{ person.current_yearly_earnings }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Current YTD Payments:</label>
                        <div class="col-sm-10" style="padding-top: 7px;">{{ person.current_yearly_payments }}</div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
{% endblock %}
