<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><%= link_to "Clients", clients_path %></li>
    <li><%= link_to "Talent", employees_path %></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href=""><%= link_to "Bookings", bookings_path %></a></li>
    <li><a href="">Invoices</a></li>
    <li><a href="">Payments</a></li>
    <li><a href="">Talent Payments</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="">Reports</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><%= link_to "Administration - Keywords", admin_keywords_path %></li>
  </ul>
</div>
